@import url(https://fonts.googleapis.com/css?family=Economica:400,400italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);
@import url("https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700&family=Josefin+Slab:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600&family=Mulish:ital,wght@0,200;0,300;0,400;1,200;1,300&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.overlay {
  z-index: 0;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: radial-gradient(circle at 3% 2%, #FBD05A, #ad4e0a 25%, #222);
  background-size: cover;
  background-attachment: fixed;
}

.emille {
  position: absolute;
  left: 0;
  margin-left: 50px;
  height: 200px;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.emille .image-emille {
  width: 200px;
  border-radius: 50%;
}

.mainTitle {
  text-align: center;
  font-size: 3vw;
  color: #24272e;
  display: flex;
  align-items: center;
}

.justify-items {
  justify-content: space-between;
}

.orange {
  color: #fbff04;
  font-size: 4.5vw;
  margin: 0 20px;
  text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
}

body {
  font-family: "Baloo da 2", serif;
  background: #c9c1c1;
}

h1 {
  font-size: 3rem;
  text-transform: none;
  text-shadow: 0.3rem 0.4rem 2px rgba(0, 0, 0, 0.4);
}

h2 {
  font-family: "Josefin Slab", serif;
  font-size: 1.7rem;
  margin-bottom: 1rem;
  text-transform: none;
  text-shadow: 0.2rem 0.2rem 2px rgba(0, 0, 0, 0.4);
}

section {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1em;
}
section * {
  z-index: 1;
}
section:first-of-type {
  text-transform: uppercase;
  font-size: 4vw;
}
section:nth-of-type(odd) {
  color: #fff;
  background-attachment: fixed;
}
section:nth-child(1) {
  background-image: url(https://static.pexels.com/photos/90807/pexels-photo-90807.jpeg);
}
section:nth-child(3) {
  background-image: url(https://static.pexels.com/photos/193004/pexels-photo-193004.jpeg);
}
section:nth-child(5) {
  background-image: url(https://static.pexels.com/photos/24975/pexels-photo-24975.jpg);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  align-self: flex-start;
  box-sizing: border-box;
  padding: 0.3em;
  z-index: 2;
}
header a.logo {
  background: url("https://dl.dropboxusercontent.com/u/35828060/meu-site/icon-meu-site.png") no-repeat;
  width: 50px;
  height: 40px;
  text-indent: -9999px;
}
header nav {
  display: flex;
  justify-content: flex-end;
}
header ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
header li {
  display: flex;
  align-items: center;
}
header a {
  position: relative;
  display: inline-block;
  margin: 0 1em;
  text-decoration: none;
  color: #fff;
  font-size: 22px;
  text-transform: none;
}
header:last-of-type {
  margin-right: 0;
}
header a:hover {
  border-top: 3px solid #fbff04;
}
header a.active {
  border-top: 3px solid #fbff04;
}

button {
  width: 100px;
  height: 100px;
  border: none;
  border-radius: 50%;
  font-size: 48px;
  background: #000000;
  color: #fbff04;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.sobre-content {
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: flex;
  align-content: stretch;
}
.sobre-content ul {
  padding: 0;
  display: flex;
  justify-content: space-between;
  list-style: none;
  flex-wrap: wrap;
}
.sobre-content li {
  color: #24272e;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 33.3%;
}
.sobre-content h2 {
  text-align: center;
}
.sobre-content p {
  padding: 0 20px;
  text-align: center;
  text-indent: 20px;
  font-size: 22px;
}

.portifolio-content {
  width: 100%;
  height: calc(100% - 73px);
}
.portifolio-content ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  height: 100%;
}
.portifolio-content li {
  width: 25%;
  height: 50%;
  max-height: 50%;
  background-size: cover;
  background-repeat: no-repeat;
}
.portifolio-content:nth-child(1) {
  background-image: url(https://dl.dropboxusercontent.com/u/35828060/meu-site/1.jpg);
}
.portifolio-content:nth-child(2) {
  background-image: url(https://dl.dropboxusercontent.com/u/35828060/meu-site/2.jpg);
}
.portifolio-content:nth-child(3) {
  background-image: url(https://dl.dropboxusercontent.com/u/35828060/meu-site/3.jpg);
}
.portifolio-content:nth-child(4) {
  background-image: url(https://dl.dropboxusercontent.com/u/35828060/meu-site/4.jpg);
}
.portifolio-content:nth-child(5) {
  background-image: url(https://dl.dropboxusercontent.com/u/35828060/meu-site/5.jpg);
}
.portifolio-content:nth-child(6) {
  background-image: url(https://dl.dropboxusercontent.com/u/35828060/meu-site/6.jpg);
}
.portifolio-content:nth-child(7) {
  background-image: url(https://dl.dropboxusercontent.com/u/35828060/meu-site/7.jpg);
}
.portifolio-content:nth-child(8) {
  background-image: url(https://dl.dropboxusercontent.com/u/35828060/meu-site/8.jpg);
}
.portifolio-content img {
  width: 100%;
  height: 100%;
}

.contato-content {
  box-sizing: border-box;
  width: 80%;
}
.contato-content #contato-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  color: #fff;
  font-size: 24px;
  border-radius: 3px;
  padding: 2em;
  background: rgba(0, 0, 0, 0.5);
}
.contato-content #contato-endereco,
.contato-content #contato-email {
  display: flex;
  flex-direction: column;
}
.contato-content h2 {
  color: #fbff04;
}
.contato-content span {
  display: block;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2em;
}
footer a.logo {
  background: url("https://dl.dropboxusercontent.com/u/35828060/meu-site/icon-meu-site.png") no-repeat;
  width: 50px;
  height: 40px;
  text-indent: -9999px;
}
footer p {
  margin: 15px 0 0 0;
  text-transform: uppercase;
}
footer ul {
  list-style: none;
  display: flex;
  margin: 15px 0 0 0;
  padding: 0;
}
footer li {
  margin-right: 15px;
}
footer:last-of-type {
  margin-right: 0;
}
footer img {
  width: 40px;
  height: 40px;
}
footer a {
  text-decoration: none;
  font-size: 18px;
}
footer a:hover {
  text-decoration: underline;
}/*# sourceMappingURL=style.css.map */