@import url(https://fonts.googleapis.com/css?family=Economica:400,400italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);
@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700&family=Josefin+Slab:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600&family=Mulish:ital,wght@0,200;0,300;0,400;1,200;1,300&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.overlay {
    z-index: 0;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: radial-gradient(circle at 3% 2%, #FBD05A, #ad4e0a 25%, #222);
    background-size: cover;
    background-attachment: fixed;
}

.emille{
    position: absolute;
    left: 0;
    margin-left: 50px;
    height: 200px;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    

    .image-emille{
        width: 200px;
        border-radius: 50%;
    }
}

.mainTitle{
  text-align: center;
  font-size: 3vw;
  color: #24272e;
  display: flex;
  align-items: center; 
}

.justify-items{
  justify-content: space-between;  
}

.orange{
  color: #fbff04;
  font-size: 4.5vw;
  margin: 0 20px;
  text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
}

body{
    font-family: "Baloo da 2", serif;
    background: #c9c1c1;
}

h1{
    font-size: 3rem;
    text-transform: none;
    text-shadow: .3rem .4rem 2px rgba(0, 0, 0, .4 );
}

h2{
    font-family: "Josefin Slab", serif;
    font-size: 1.7rem;
    margin-bottom: 1rem;
    text-transform: none;
    text-shadow: .2rem .2rem 2px rgba(0, 0, 0, .4 );
}

section{
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1em;  
  *{
    z-index: 1;
  }
    
  &:first-of-type{
    text-transform: uppercase;
    font-size: 4vw;
  }

  &:nth-of-type(odd){
    color: #fff;
    //text-shadow: 0 0 5px rgba(0,0,0,0.4)
    background-attachment: fixed;
  }
    
  &:nth-child(1){
    background-image: url(https://static.pexels.com/photos/90807/pexels-photo-90807.jpeg);
  }
    
  
  &:nth-child(3){
    background-image: url(https://static.pexels.com/photos/193004/pexels-photo-193004.jpeg);
  }
    
  &:nth-child(5){
    background-image: url(https://static.pexels.com/photos/24975/pexels-photo-24975.jpg);
  }

}

header{
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  align-self: flex-start;
  box-sizing: border-box;
  padding: 0.3em;
  z-index: 2;
   
  a.logo{
    background: url('https://dl.dropboxusercontent.com/u/35828060/meu-site/icon-meu-site.png') no-repeat;
    width: 50px;
    height: 40px;
    text-indent: -9999px;
  }
    
      
  nav{
    display: flex;
    justify-content: flex-end;    
  }

    ul{
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
    }

      li{
        display: flex;
        align-items: center;
      }
        
        a{
          position: relative;
          display: inline-block;
          margin: 0 1em;
          text-decoration: none;
          color: #fff;
          font-size: 22px;
          text-transform: none;
 
        }
          
          &:last-of-type{
            margin-right: 0;
          }
            

        a:hover{
           border-top: 3px solid #fbff04; 
        }
          
        
      a.active{
        border-top: 3px solid #fbff04;
      }       
}

button{
  width: 100px;
  height: 100px;
  border: none;
  border-radius: 50%;
  font-size: 48px;
  background: #000000;
  color: #fbff04;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.sobre-content{
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: flex;
  align-content: stretch;   
  ul{
    padding: 0;
    display: flex;
    justify-content: space-between;
    list-style: none;
    flex-wrap: wrap;
  }
    
    li{
      color: #24272e;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      width: 33.3%;        
    }

      h2{
        text-align: center;        
      }

      p{
        padding: 0 20px;
        text-align: center;
        text-indent: 20px;
        font-size: 22px;           
      }
}

.portifolio-content{
  width: 100%;
  height: calc(100% - 73px);

  ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    height: 100%;     
  }
  
    li{
      width: 25%;
      height: 50%;
      max-height: 50%;
      background-size: cover;
      background-repeat: no-repeat;        
    }

      &:nth-child(1){
        background-image: url(https://dl.dropboxusercontent.com/u/35828060/meu-site/1.jpg);
      }

      &:nth-child(2){
        background-image: url(https://dl.dropboxusercontent.com/u/35828060/meu-site/2.jpg);
      }

      &:nth-child(3){
        background-image: url(https://dl.dropboxusercontent.com/u/35828060/meu-site/3.jpg);
      }
        
      &:nth-child(4){
        background-image: url(https://dl.dropboxusercontent.com/u/35828060/meu-site/4.jpg);        
      }

      &:nth-child(5){
        background-image: url(https://dl.dropboxusercontent.com/u/35828060/meu-site/5.jpg);        
      }
 
      &:nth-child(6){
        background-image: url(https://dl.dropboxusercontent.com/u/35828060/meu-site/6.jpg);        
      }

      &:nth-child(7){
        background-image: url(https://dl.dropboxusercontent.com/u/35828060/meu-site/7.jpg);        
      }
      
      &:nth-child(8){
        background-image: url(https://dl.dropboxusercontent.com/u/35828060/meu-site/8.jpg);        
      }

      img{
        width: 100%;
        height: 100%;        
      }
}

        
.contato-content{
  box-sizing: border-box;
  width: 80%;
  
  #contato-info{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    color: #fff;
    font-size: 24px;
    border-radius: 3px;
    padding: 2em;
    background: rgba(0,0,0,0.5);    
  }

    #contato-endereco,
    #contato-email{
      display:flex;
      flex-direction: column;        
    }

      h2{
        color: #fbff04;        
      }

      span{
        display: block;        
      }
}

      
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2em;  

    a.logo{
    background: url('https://dl.dropboxusercontent.com/u/35828060/meu-site/icon-meu-site.png') no-repeat;
    width: 50px;
    height: 40px;
    text-indent: -9999px;        
    }

    p{
    margin: 15px 0 0 0;
    text-transform: uppercase;        
    }

    ul{
    list-style: none;
    display: flex;
    margin: 15px 0 0 0;
    padding: 0;        
    }

    li{
        margin-right: 15px;        
    }

        &:last-of-type{
        margin-right: 0;            
        }

    img{
        width: 40px;
        height: 40px;                        
    }
        a{
        text-decoration: none;
        font-size: 18px;            
        }
   
        a:hover{
        text-decoration: underline;               
        }
}

  
